.main {
	width: 1170px;
	margin: 0 auto;
}
.logo {
	margin: 20.49px 50px 19.75px 0;
	height: 47px;
}

.lists {
	display: inline-block;
}
.navbar {
	margin: 20.49px 0 33.88px 10px;

}
.navbar-li {
	display: inline-block;
	font-size: 24px;
	margin: 12px 30px 0 0;
	
}
a {
	color: #3D58A6;
	vertical-align: top;
	margin-top: 20.49px;
}
.images {
	float: right;
}
.icon {
	height: 30px;
	margin: 25px 0 36.36px 60px;
	border-right: 1px solid #363E97;
	padding-right: 25px;
}
.icon:first-child{
	height: 31px;
}
.icon:last-child {
	border: none;
}
.second {
	height: 520px;
	background: #E6E6E6;
	padding: 30px 0;
}
.orangebox {
	position: relative;
}
.inside {
	color: white;
	font-size: 30px;
	position: absolute;
	left: 30px;
	bottom: 167px;
}
.inside:nth-child(2){
	bottom: 123px;
}
.inside:nth-child(3){
	bottom: 70px;
}
.inside:last-child {
	bottom: 22px;
}
.logo2 {
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.third {
	height: 500px;
	background-color: #363E97;
}
.start {
	color: white;
	font-size: 24px;
	padding-top: 32px;
}
.whitebox {
	position: relative;
	background: white;
	display: inline-block;
	width: 570px;
	height: 320px;
	margin-top: 28px;
}
.whitebox:last-child {
	margin-left: 20px;
}
.text {
	font-size: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.fourth {
	background-color: #BDCCD4;
	height: 450px;
}
.start1 {
	color: #3D58A6;
	font-size: 24px;
	padding-top: 32px; 
}
.minibox {
	background-color: #E6E6E6;
	display: inline-block;
	width: 270px;
	height: 270px;
	margin: 30px 30px 0 0;
}
.minibox:last-child {
	margin-right: -12px;
}
.image {
	width: 270px;
	height: 210px;
}
.text1 {
	font-size: 22px;
	padding: 15.75px 0 0 14.1px;
}
.fifth {
	background-color: #E6E6E6;
	height: 345px;
}
.start2 {
	font-size: 24px;
	padding-top: 32px;
}
.minibox1 {
	height: 225px;
	width: 570px;
	float: left;
	background-color: #F2F2F2;
	margin-top: 30px;
	position: relative;
}
.minibox1:last-child {
	float: right;
}
.title1 {
	font-size: 22px;
	color: #3D58A6;
	padding: 13.05px 0 0 20.77px;
}
.last {
	padding: 26px 0 0 39px;
}
.container {
	display: inline-block;
	background-color: #F2F2F2;
	height: 143px;
	width: 355px;
	margin:17.4px 0 0 60px;
	vertical-align: top;
}
.text2 {
	font-size: 24px;
}
.continue {
	font-size: 14px;
	color: #3D58A6;
	position: absolute;
	right: 9px;
	bottom: 14.63px;
}
.end {
	font-size: 12px;
	float: left;
	margin: 22px 0 21px 0;
}
.end:last-child {
	float: right;

}
.orangebox {
	background-color: #e64d00;
	height: 460px;
}